.main-nav {
  margin-bottom:0;
}
/* Used to force grid rows to have same height for all columns */
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}